.log
.travis.yml
.idea
.tmp
.DS_Store
.editorconfig
.babelrc
.npmrc
.nvmrc
.gitattributes
.gitignore
.prettierignore
.prettierrc

CHANGELOG.md
LICENSE.md
README.md

tsconfig.json
tslint.json
yarn-error.log
*-lock.json
*.lock

coverage/
node_modules/
src/
test/
